@{
    ViewData["Title"] = "Upload Your File";
}

<div class="text-left">
    <h1 class="display-4">input form</h1>
    <form method="post">
        <input name="data" type="text"/><br>
        <input class="btn mt-3" type="submit" value="send message">
    </form>
</div>
